.nav-menu-footer {
  display: flex;
  flex-direction: row;

  app-select-item {
    flex-grow: 1;
    width: calc(1/3 * 100%);

    div {
      padding: 10px;
    }
  }
}

.nav-menu-top {
  app-select-item {
    div {
      padding: 15px;
    }

    width: 50%;
  }
}
