<div class="nav-menu-container">
  <div class="nav-menu-top">
    <app-select-item selected="true" name="gamemode" class="gamemode" routerLink="">
      <div>
        {{ 'FREEPLAY_ARTICLE' | translate }}
      </div>
    </app-select-item>
    <app-select-item name="gamemode" class="gamemode" routerLink="/random-text">
      <div>
        {{ 'FREEPLAY_RANDOM' | translate }}
      </div>
    </app-select-item>
  </div>
  <div class="nav-menu-content">
    <router-outlet></router-outlet>
  </div>
  <div class="nav-menu-footer">
    <app-select-item (click)="setDifficulty('1')" name="difficulty" selected="true" id="easy">
      <div>
        {{ 'DIFFICULTY_EASY' | translate }}
      </div>
    </app-select-item>
    <app-select-item (click)="setDifficulty('2')" name="difficulty" id="medium">
      <div>
        {{ 'DIFFICULTY_MEDIUM' | translate }}
      </div>
    </app-select-item>
    <app-select-item (click)="setDifficulty('3')" name="difficulty" id="hard">
      <div>
        {{ 'DIFFICULTY_HARD' | translate }}
      </div>
    </app-select-item>
  </div>
</div>
