<app-panel class="nav-menu-container" id="user-panel">
  <div class="nav-menu-top">
    <app-select-item selected="true" name="page" class="page" checked="true" routerLink="./">
      <div>
        {{ 'CAPTION_USERMENU_SUMMARY' | translate }}
      </div>
    </app-select-item>
    <app-select-item name="page" class="page" routerLink="edit">
      <div>
        {{ 'CAPTION_USERMENU_EDIT' | translate }}
      </div>
    </app-select-item>
    <app-select-item name="page" class="page" routerLink="games">
      <div>
        {{ 'CAPTION_USERMENU_GAMES' | translate }}
      </div>
    </app-select-item>
  </div>
  <div class="nav-menu-content">
    <router-outlet></router-outlet>
  </div>
</app-panel>