#user-panel {
    margin: auto;
    width: 900px;

    .nav-menu-top {
      app-select-item {
        width: calc(1/3 * 100%);
    
        div {
          padding: 10px;
        }
      }
    }

    .nav-menu-content {
      max-height: 600px;
      padding: 20px;
      overflow-y: auto;
    }
}