#header-container {
  height: 60px;
  background: rgba(#000000, 0.6); /* Old browsers */
  background: -moz-linear-gradient(left, #000000 0%, rgba(white, 0) 50%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%,rgba(white, 0) 50%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%,rgba(white, 0) 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 */

  #app-header {
    margin: auto;
    width: 1024px;
    display: flex;

    #language-selector {
      flex: 1;
      left: 5px;
      top: 5px;
      padding: 10px;

      label {
        display: inline;
        font-size: 24px;
        margin-left: 10px;
      }

      span {
        cursor: pointer;
        margin-left: 5px;
        font-size: 18px;
      }

      #language-list {
        position: absolute;
        margin-top: 5px;
        background-color: rgba(32, 32, 32, 0.5);
        border: 1px solid gray;
        border-radius: 0px 2px;
        z-index: 1;

        .language-item {
          display: block;
          padding: 5px;

          &:hover {
            background-color: rgba(127, 127, 127, 0.5);
          }
        }
      }
    }

    #nav {
      flex: 1;
      user-select: none;
      color: white;

      #routing {
        text-align: right;
        list-style-type: none;
        padding: 10px;
        margin: 0;

        li {
          display: inline;
          margin-right: 30px;
          padding: 10px;

          a {
            text-decoration: none;
          }

          &:hover {
            cursor: pointer;

            background: rgba(gray, 0.5);
            border-color: rgba(0, 0, 0, 0.6);
            border-image: none;
            border-style: solid;
            border-width: 0px;
            border-radius: 4px;

            box-shadow:
              0 1px 0 0 rgba(255, 255, 255, 0.4) inset,
              0 2px 6px rgba(0, 0, 0, 0.5),
              0 10px rgba(0, 0, 0, 0.05) inset;
          }
        }

        #user-menu-container {
          display: inline-block;

          #user-menu {
            position: absolute;
            margin-top: 10px;
            background-color: rgba(32, 32, 32, 0.5);
            border: 1px solid gray;
            border-radius: 0px 2px;
            z-index: 1;
    
            .user-menu-item {
              display: block;
              padding: 5px;
    
              &:hover {
                background-color: rgba(127, 127, 127, 0.5);
              }
            }
          }
        }
      }
    }
  }
}

#app-content {
  text-align: center;
  margin-top: 40px;
}

@-webkit-keyframes background-animation {
  0% {
    background-position: 0% 4%
  }

  50% {
    background-position: 100% 97%
  }

  100% {
    background-position: 0% 4%
  }
}

@keyframes background-animation {
  0% {
    background-position: 0% 4%
  }

  50% {
    background-position: 100% 97%
  }

  100% {
    background-position: 0% 4%
  }
}
