<app-background></app-background>
<div id="header-container">
  <div id="app-header">
    <div id="language-selector">
      <img id="flag" src="/assets/locale/flags/flag_{{ currentLanguage.key }}.jpg" width=30 height=20>
      <label>{{ currentLanguage.fullName }}</label>
      <span (click)="showLanguageList()" (clickOutside)="languageListShown ? showLanguageList() : ''">&#x25BC;</span>
      <div class="hidden" id="language-list" #languageList>
        <a class="language-item" *ngFor="let language of languages | keyvalue" (click)="selectLanguage(language.value)">
          <img class="flag" src="assets/locale/flags/flag_{{ language.value.key }}.jpg" width=30 height=20>
          <label>{{ language.value.fullName }}</label>
        </a>
      </div>
    </div>
    <div id="logo-container">
      <img id="logo" src="/assets/logo.png" height="60" />
    </div>
    <div id="nav">
      <ul id="routing" *ngIf="this.userService.user">
        <li><a routerLink="/">{{ 'CAPTION_HOME' | translate }}</a></li>
        <li (click)="showUserMenu()" (clickOutside)="userMenuShown ? showUserMenu() : ''" id="user-menu-container">
          <span>{{ this.userService.user.username }} &#x25BC;</span>
          <div class="hidden" id="user-menu" #userMenu>
            <a class="user-menu-item" routerLink="/user">{{ 'CAPTION_ACCOUNT' | translate }}</a>
            <a class="user-menu-item" (click)="logout()">{{ 'CAPTION_LOGOUT' | translate }}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="app-content">
  <router-outlet></router-outlet>
</div>