<h2 mat-dialog-title>{{ 'CAPTION_SELECT' | translate }}</h2>
<mat-dialog-content>
  <app-select-item name="dialog-item" *ngFor="let item of this.items" (click)="this.selectedItem = item">
    {{ item.value | translate }}
  </app-select-item>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="this.close(false)">{{ 'CAPTION_CANCEL' | translate }}</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="this.close(true)">{{ 'CAPTION_OK' | translate }}</button>
</mat-dialog-actions>
