.key-49 {
  left: 330px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-50 {
  left: 400px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-51 {
  left: 470px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-52 {
  left: 540px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-53 {
  left: 610px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-54 {
  left: 680px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-55 {
  left: 750px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-56 {
  left: 820px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-57 {
  left: 890px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-shift {
  left: 320px;
  top: calc(100% - 140px);
}

.key-32 {
  left: 540px;

  .key {
    width: 310px;
    height: 70px;
  }

  &.keyboard-key {
    top: calc(100% - 70px);
  }

  &.floating-key {
    -webkit-animation-name: key-space;
    animation-name: key-space;
  }
}
