.key-48.en-gb {
  left: 960px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-45.en-gb {
  left: 1030px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

/* line 1 */

.key-113.en-gb {
  left: 350px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-119.en-gb {
  left: 420px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-101.en-gb {
  left: 490px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-114.en-gb {
  left: 560px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-116.en-gb {
  left: 630px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-121.en-gb {
  left: 700px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-117.en-gb {
  left: 770px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-105.en-gb {
  left: 840px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-111.en-gb {
  left: 910px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-112.en-gb {
  left: 980px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

/* line 2 */

.key-97.en-gb {
  left: 370px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-115.en-gb {
  left: 440px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-100.en-gb {
  left: 510px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-102.en-gb {
  left: 580px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-103.en-gb {
  left: 650px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-104.en-gb {
  left: 720px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-106.en-gb {
  left: 790px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-107.en-gb {
  left: 860px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-108.en-gb {
  left: 930px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

/* line 3 */

.key-122.en-gb {
  left: 390px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-120.en-gb {
  left: 460px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-99.en-gb {
  left: 530px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-118.en-gb {
  left: 600px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-98.en-gb {
  left: 670px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-110.en-gb {
  left: 740px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-109.en-gb {
  left: 810px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-44.en-gb {
  left: 880px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-46.en-gb {
  left: 950px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}
