.key-48.hu-hu {
  left: 260px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-246.hu-hu {
  left: 960px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-252.hu-hu {
  left: 1030px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

.key-243.hu-hu {
  left: 1100px;

  &.keyboard-key {
    top: calc(100% - 350px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-0;
    animation-name: key-line-0;
  }
}

/* line 1 */

.key-113.hu-hu {
  left: 350px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-119.hu-hu {
  left: 420px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-101.hu-hu {
  left: 490px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-114.hu-hu {
  left: 560px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-116.hu-hu {
  left: 630px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-122.hu-hu {
  left: 700px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-117.hu-hu {
  left: 770px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-105.hu-hu {
  left: 840px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-111.hu-hu {
  left: 910px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-112.hu-hu {
  left: 980px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-337.hu-hu {
  left: 1050px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-250.hu-hu {
  left: 1120px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

.key-369.hu-hu {
  left: 1190px;

  &.keyboard-key {
    top: calc(100% - 280px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-1;
    animation-name: key-line-1;
  }
}

/* line 2 */

.key-97.hu-hu {
  left: 370px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-115.hu-hu {
  left: 440px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-100.hu-hu {
  left: 510px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-102.hu-hu {
  left: 580px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-103.hu-hu {
  left: 650px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-104.hu-hu {
  left: 720px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-106.hu-hu {
  left: 790px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-107.hu-hu {
  left: 860px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-108.hu-hu {
  left: 930px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-233.hu-hu {
  left: 1000px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

.key-225.hu-hu {
  left: 1070px;

  &.keyboard-key {
    top: calc(100% - 210px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-2;
    animation-name: key-line-2;
  }
}

/* line 3 */

.key-121.hu-hu {
  left: 390px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-120.hu-hu {
  left: 460px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-99.hu-hu {
  left: 530px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-118.hu-hu {
  left: 600px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-98.hu-hu {
  left: 670px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-110.hu-hu {
  left: 740px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-109.hu-hu {
  left: 810px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-44.hu-hu {
  left: 880px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-46.hu-hu {
  left: 950px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}

.key-45.hu-hu {
  left: 1020px;

  &.keyboard-key {
    top: calc(100% - 140px);
  }

  &.floating-key {
    -webkit-animation-name: key-line-3;
    animation-name: key-line-3;
  }
}
