mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        display: block;
        width: 100px;
        height: 30px;
    }
}
