<h2 mat-dialog-title>{{ this.data.textTitle }}</h2>
<mat-dialog-content>{{ this.data.text }}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'CAPTION_CANCEL' | translate }}</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">{{ 'CAPTION_START' | translate }}</button>
</mat-dialog-actions>