#article-list-container {
    user-select: none;
    margin: 20px auto;
    border: 1px solid gray;
    background-color: rgba(black, 0.5);
    width: 250px;
    height: 300px;
    overflow-y: auto;

    #article-list-header {
        text-align: left;
        padding: 10px;
        border-bottom: 2px solid gray;
    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none;

        li {
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            label {
                display: block;
            }

            &:hover,
            &:active,
            &.selected {
                background-color: gray;
            }
        }
    }
}

#start-button {
    margin: 10px auto;
    display: block;
    width: 100px;
    height: 40px;
    font-size: 18px;
}