<div id="article-list-container">
    <div id="article-list-header">
        {{ 'CAPTION_ARTICLELIST_HEADER' | translate }}
    </div>
    <ul #articleList>
        <li class="article-item" *ngFor="let article of this.articles" (click)="this.selectArticle($event)">
            <label class="article-name">{{ article.name }}</label>
            <label>{{ 'CAPTION_ARTICLELENGTH_' + article.length.toUpperCase() | translate }}</label>
        </li>
    </ul>
</div>

<label for="link">{{ 'PASTE_WIKI' | translate }}:</label>
<input type="text" name="link" #linkInput />
<button id="start-button" (click)="this.previewText()">{{ 'CAPTION_START' | translate }}</button>