::ng-deep {

  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: white;
    color: black;
  }

  .mat-checkbox-checkmark {
    fill: black;
  }

  .mat-checkbox-checkmark-path {
    stroke: black !important;
  }
}

div {
  width: 400px;
  text-align: left;
  margin: 10px auto;

  mat-checkbox {
    margin-top: 10px;
    display: block;
  }

  input[type="range"] {
    width: 100%;
  }

  button {
    display: block;
    width: 100px;
    height: 30px;
    margin: 10px auto;
  }
}
