<div>
  <label>{{ 'CAPTION_TEXT_LENGTH' | translate }}: {{ textLength.value }}</label>
  <input type="range" min="20" max="500" value="20" #textLength />
  <mat-checkbox [disableRipple]="true" #numbers>{{ 'CAPTION_NUMBERS' | translate }}</mat-checkbox>
  <mat-checkbox [disableRipple]="true" #special>{{ 'CAPTION_SPECIAL_CHARACTERS' | translate }}</mat-checkbox>
  <button (click)="this.generateText(this.textLength.value, this.numbers.checked, this.special.checked)">{{
    'CAPTION_GENERATE'
    | translate }}</button>
</div>
