<h2 mat-dialog-title>{{ 'CAPTION_ERROR' | translate }}</h2>
<mat-dialog-content>{{ 'CAPTION_CONFIRM' | translate }}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'CAPTION_CANCEL' | translate }}</button>
  <button mat-button mat-dialog-close="true">{{ 'CAPTION_YES' | translate }}</button>
</mat-dialog-actions>
