::ng-deep .mat-progress-bar-fill::after {
    background-color: white;
}
  
::ng-deep .mat-progress-bar-element {
    background-color: gray;
}

#account-header {

    mat-progress-bar {
        margin: auto;
        width: 400px;
        height: 25px;
    }
}

#account-data {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(gray, 0.1);
    display: flex;
    flex-direction: row;

    .account-section {
        width: 50%;

        &:first-child {
            border-right: 1px solid black;
        }

        .account-section-header {
            font-size: 18px;
            padding: 20px;
        }

        .account-section-content {
            padding: 10px;

            .account-section-row {
                display: flex;
                flex-direction: row;
    
                span {
                    display: block;
                    padding: 10px;
                    width: 50%;
                    text-align: left;

                    &:nth-child(2) {
                        text-align: right;
                    }
                }
            }
        }
    }
}