<div id="account-header">
  <h1>
    {{ this.user.username }}
  </h1>
  <h2>
    Level: {{ this.stats['level'] }}
  </h2>
  <div>
    <span>{{ this.stats['xp'] }} / {{ this.stats['xpForNextLevel'] }}</span>
    <mat-progress-bar value="{{ this.progressBarValue }}"></mat-progress-bar>
  </div>
</div>
<div id="account-data">
  <div class="account-section">
    <div class="account-section-header">
      {{ 'CAPTION_ACCOUNT_INFO' | translate }}
    </div>
    <div class="account-section-content">
      <div class="account-section-row">
        <span>{{ 'CAPTION_EMAIL' | translate }}:</span>
        <span>{{ this.user.email }}</span>
      </div>
      <div class="account-section-row">
        <span>{{ 'CAPTION_REGISTERED_AT' | translate }}:</span>
        <span>{{ this.registeredAt }}</span>
      </div>
    </div>
  </div>
  <div class="account-section">
    <div class="account-section-header">
      {{ 'CAPTION_ACCOUNT_STATS' | translate }}
    </div>
    <div class="account-section-content">
      <div class="account-section-row">
        <span>{{ 'CAPTION_HIGHSCORE' | translate }}:</span>
        <span>{{ this.stats['highestScore'] }}</span>
      </div>
      <div class="account-section-row">
        <span>{{ 'CAPTION_HIGHEST_STREAK' | translate }}:</span>
        <span>{{ this.stats['highestStreak'] }}</span>
      </div>
      <div class="account-section-row">
        <span>{{ 'CAPTION_BEST_CPM' | translate }}:</span>
        <span>{{ this.stats['bestCpm'] }}</span>
      </div>
    </div>
  </div>
</div>