.panel-header {
  text-align: center;
  background-color: white;
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: black;
  color: black;
  background-color: buttonface;
  border-radius: 4px 4px 0px 0px;
  padding: 10px;
  font-size: 28px;
  text-shadow: none;
}

.panel-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid black;
  border-radius: 0px 0px 4px 4px;
}

:host {
  display: block;
}