<app-pause-menu class="hidden" id="pause-menu-panel"></app-pause-menu>
<app-summary *ngIf="finished"></app-summary>
<div id="game-container">
  <div id="game-header">
    <div>
      <span class="hit-indicator" id="correct-hits">{{ this.correctHits }}</span>
    </div>
    <div id="text-div">
      <pre #textIndicator>{{ this.currentText }}</pre>
    </div>
    <div>
      <span class="hit-indicator" id="wrong-hits">{{ this.wrongHits }}</span>
    </div>
  </div>
  <div id="counter">
    <span #counterSpan>{{ this.getFormattedTime() }}</span>
  </div>
  <div class="panel" id="score-panel">
    <div id="score-div">{{ this.score }}</div>
    <div id="mul-div">{{ this.multiplier }}x</div>
    <div id="cpm-div">{{ this.effectiveCpm }} C/M</div>
  </div>
  <div id="gameboard-background">
    <div id="gameboard" #gameboard>
    </div>
  </div>
  <button id="pause-button" #pauseButton (click)="openMenu()">Menu</button>
</div>
