* {
  -webkit-user-select: none;
  /* Chrome, Opera, Safari */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.key-container {
  position: absolute;
  top: 0px;
  width: 70px;
  height: 70px;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;

  &.space-container {
    width: 310px;
    animation-name: key-space;
  }
}

.key {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  text-shadow: 0 0 0 0;
  animation-direction: alternate !important;

  &.key-32 {
    width: 310px;
    height: 70px;
  }

  * {
    display: block;
    color: black;
    position: absolute;
    text-shadow: none;
    font-size: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#game-container {
  #game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #text-div {
      align-self: center;
      width: 700px;
      height: 80px;
      padding: 5px;
      overflow: hidden;
      text-overflow: clip;
      font-size: 48px;
      font-family: 'Nova Square', cursive;
      color: gray;
      border: 2px white solid;
      border-radius: 3px;
      background-color: black;

      &::first-letter {
        font-size: 64px;
        color: black;
        background-color: white;
      }

      pre {
        margin: 5px;
      }
    }

    .hit-indicator {
      font-size: 48px;

      &#correct-hits {
        color: lime;
      }

      &#wrong-hits {
        color: red;
      }
    }
  }

  #score-panel {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    left: calc(100% - 250px);
    top: calc(100% - 250px);
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;

    * {
      font-size: 42px;
    }

    #mul-div {
      top: 50%;
      color: lime;
    }

    #cpm-div {
      top: 75%;
      color: yellow;
    }
  }
}

#counter {
  text-align: center;

  span {
    font-size: 28px;
    font-weight: bold;
  }
}

#pause-button {
  position: absolute;
  font-size: 32px;
  left: 10px;
  width: 150px;
  height: 80px;
  top: calc(100% - 100px);
}

#gameboard-background {
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 50%;
  width: 1440px;
  transform: translateX(-50%);
}

#gameboard {
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0px;
  bottom: 100px;
  width: 100%;
  transform-style: preserve-3d;
  transform: perspective(1200px) rotateX(45deg);
}
