#main-container {
  width: 100%;
  height: 100%;
}

#main-spinner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(black, 0.8);
  z-index: 1;

  .mat-spinner,
  .mat-progress-spinner {
    margin: auto auto;
  }
}
