<div id="add-challenge-div">
  <button id="add-challenge" (click)="this.openChallengeDialog(undefined)">{{ 'CAPTION_NEW_CHALLENGE' |
    translate }}</button>
</div>
<div class="challenges-container">
  <div class="challenge" *ngFor="let challenge of this.challenges">
    <div class="challenge-header">
      <div class="challenge-title">{{ challenge.name }}</div>
      <div class="challenge-buttons">
        <button (click)="this.openPreview(challenge)">{{ 'BUTTON_PLAY' | translate }}</button>
        <button (click)="this.openChallengeDialog(challenge)">{{ 'BUTTON_MODIFY' | translate }}</button>
        <button (click)="this.openChallengeDeleteDialog(challenge.id)">{{ 'BUTTON_DELETE' | translate }}</button>
      </div>
    </div>
    <div class="challenge-content">
      <div class="challenge-preview">
        {{ challenge.text }}
      </div>
      <div class="challenge-time">
        {{ challenge.getFormattedTimeLimit() }}
      </div>
      <div class="challenge-difficulty">
        {{ challenge.getDifficultyName() | translate }}
      </div>
    </div>
  </div>
</div>
