::ng-deep {

  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: white;
    color: black;
  }

  .mat-checkbox-checkmark {
    fill: black;
  }

  .mat-checkbox-checkmark-path {
    stroke: black !important;
  }
}

mat-dialog-content {
  min-height: 400px;

  input,
  textarea {
    background-color: rgba(black, 0.2);
    border: 1px solid gray;
    border-radius: 2px;
  }

  label {
    margin-top: 20px;
  }

  #time-limit-container {
    input {
      width: 50px;
    }
  }

  mat-checkbox {
    margin-top: 20px;
    display: block;
  }

  #text-input {
    width: 100%;
    height: 200px;
  }

  app-select-item {
    width: 200px;
    height: 40px;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;

  button {
    width: 200px;
    height: 40px;
  }
}
