<h2 mat-dialog-title>{{ 'CAPTION_EDIT_CHALLENGE' | translate }}</h2>
<mat-dialog-content>
  <label>{{ 'CAPTION_CHALLENGE_NAME' | translate }}:</label>
  <input type="text" [(ngModel)]="this.data.challenge.name" />

  <label>{{ 'CAPTION_CHALLENGE_TIMELIMIT' | translate }}:</label>
  <div id="time-limit-container">
    <input type="number" #minutesField (change)="setTime()" min="0" max="60" />:<input type="number" #secondsField
      (change)="setTime()" pattern="[0-6]" min="0" max="60" />
  </div>

  <label>{{ 'CAPTION_CHALLENGE_DIFFICULTY' | translate }}:</label>
  <input type="range" [(ngModel)]="this.data.challenge.difficulty" min="0" max="2" />


  <mat-checkbox *ngIf="this.userService.user.isAdmin" [disableRipple]="true" [(ngModel)]="this.data.challenge.isOfficial">{{
    'CAPTION_CHALLENGE_OFFICIAL' |
    translate }}</mat-checkbox>

  <div id="text-input-container">
    <label>{{ 'CAPTION_CHALLENGE_TEXT' | translate }}:</label>
    <textarea id="text-input" [(ngModel)]="this.data.challenge.text"></textarea>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="this.close(false)">{{ 'CAPTION_CANCEL' | translate }}</button>
  <button mat-button (click)="this.close(true)">{{ 'CAPTION_OK' | translate }}</button>
</mat-dialog-actions>
