<app-panel id="summary-panel" title="{{ 'CAPTION_SUMMARY' | translate }}" hasHeader="true">
  <div *ngIf="this.leveledUp">
    {{ 'CAPTION_LEVELUP' | translate }} {{ this.newLevel }}
  </div>
  <div id="percentage-div">
    {{ this.statService.summary.percentage }}%
  </div>
  <div class="rank-text" *ngIf="scoreRank == ScoreRank.Excellent">{{ 'CAPTION_EXCELLENT' | translate }}</div>
  <div class="rank-text" *ngIf="scoreRank == ScoreRank.Good">{{ 'CAPTION_GOOD' | translate }}</div>
  <div class="rank-text" *ngIf="scoreRank == ScoreRank.Okay || scoreRank == ScoreRank.Bad">{{ 'CAPTION_OKAY' |
    translate
    }}</div>
  <div *ngIf="scoreRank == ScoreRank.Bad">{{ 'CAPTION_BAD' | translate }}</div>
  <div id="star-div">
    <div class="star-container" *ngFor="let item of sequence(starCount)">
      <img class="star-image" src="assets/star_full.png">
    </div>
    <div class="star-container" *ngFor="let item of sequence(5 - starCount)">
      <img class="star-image" src="assets/star.png">
    </div>
  </div>
  <button (click)="closeSummary()" id="ok-button">Ok</button>
</app-panel>