#summary-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 480px;
  z-index: 1;
  font-size: 32px;

  .rank-text {
    font-size: 48px;
  }

  :not(.star-container) {
    margin-top: 10px;
  }

  #percentage-div {
    font-size: 56px;
    text-align: center;
  }

  #star-div {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .star-container {
      .star-image {
        width: 50px;
        height: 50px;
      }
    }
  }
}

#ok-button {
  font-size: 32px;
  width: 200px;
  height: 60px;
}