<app-panel id="login-panel" title="{{ 'CAPTION_LOGIN' | translate }}" hasHeader="true"
  (keyup)="$event.keyCode == 13 ? login(username.value, password.value) : null">

  <div class="hidden-error-container">
    <div [hidden]="this.errorMessage === null" id="error">{{ this.errorMessage | translate }}</div>
  </div>

  <label>{{ 'CAPTION_USERNAME' | translate }}:</label>
  <input type="text" id="username" #username>

  <label>{{ 'CAPTION_PASSWORD' | translate }}:</label>
  <input type="password" id="password" #password>

  <button id="login-button" (click)="login(username.value, password.value)">{{ 'CAPTION_LOGIN' | translate }}</button>

  <div id="register-message">
    {{ 'MESSAGE_REGISTER1' | translate }} <a routerLink="/register">{{ 'MESSAGE_REGISTER2' | translate }}</a>
  </div>
</app-panel>