<div class="hidden-error-container">
  <div [hidden]="errorMessage === null" id="error">{{ this.errorMessage | translate }}</div>
</div>

<label>{{ 'CAPTION_EMAIL' | translate }}:</label>
<input type="text" #emailField />

<label>{{ 'CAPTION_PASSWORD' | translate }}:</label>
<input type="password" #passwordField />

<label>{{ 'CAPTION_CONFIRM_PASSWORD' | translate }}:</label>
<input type="password" #confirmPasswordField />

<br />
<button id="send-button"
  (click)="modifyAccount(emailField.value, passwordField.value, confirmPasswordField.value)">Send</button>