<div class="challenges-container">
  <div class="challenge" *ngFor="let challenge of this.challenges">
    <div class="challenge-header">
      <div class="challenge-title">{{ challenge.name }}</div>
      <div class="challenge-buttons">
        <button (click)="this.openPreview(challenge)">{{ 'BUTTON_PLAY' | translate }}</button>
      </div>
    </div>
    <div class="challenge-content">
      <div class="challenge-preview">
        {{ challenge.text }}
      </div>
      <div class="challenge-time">
        {{ challenge.getFormattedTimeLimit() }}
      </div>
      <div class="challenge-difficulty">
        {{ challenge.getDifficultyName() | translate }}
      </div>
    </div>
  </div>
</div>
