<div class="nav-menu-container">
  <div class="nav-menu-top">
    <app-select-item selected="true" name="gamemode" class="gamemode" routerLink=".">
      <div>
        {{ 'CHALLENGES_OFFICIAL' | translate }}
      </div>
    </app-select-item>
    <app-select-item name="gamemode" class="gamemode" routerLink="custom">
      <div>
        {{ 'CHALLENGES_CUSTOM' | translate }}
      </div>
    </app-select-item>
    <app-select-item name="gamemode" class="gamemode" routerLink="edit">
      <div>
        {{ 'CHALLENGES_OWN' | translate }}
      </div>
    </app-select-item>
  </div>
  <div class="nav-menu-content">
    <router-outlet></router-outlet>
  </div>
</div>
