.game-info-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  background-color: rgba(gray, 0.1);
  border-radius: 4px;

  .game-info-name {
    padding: 20px;
    margin: auto;
    flex-grow: 1;
    font-size: 24px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cpm-time-div {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 20px;
  }

  .star-div {
    background-color: rgba(gray, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;

    .star-container {
      margin: auto;

      .star-image {
        width: 25px;
        height: 25px;
      }
    }
  }

  .game-info-summary-container {
    background-color: rgba(gray, 0.3);
    max-width: 100px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    font-size: 18px;
    width: 200px;
  }
}
