<div class="game-info-container" *ngFor="let gameInfo of this.games">
  <div class="game-info-name">
    {{ gameInfo.textTitle }}
  </div>
  <div class="cpm-time-div">
    <div>
      {{ this.getFormattedTime(gameInfo.elapsedTime) }}
    </div>
    <div>
      {{ gameInfo.averageCpm }} C/M
    </div>
  </div>
  <div class="star-div">
    <div class="star-container" *ngFor="let item of sequence(gameInfo.stars)">
      <img class="star-image" src="assets/star_full.png">
    </div>
    <div class="star-container" *ngFor="let item of sequence(5 - gameInfo.stars)">
      <img class="star-image" src="assets/star.png">
    </div>
  </div>
  <div class="game-info-summary-container">
    <div>{{ gameInfo.score }}</div>
    <div>{{ gameInfo.percentage }}%</div>
  </div>
</div>
