<app-panel id="pause-menu" title="{{ 'CAPTION_MENU' | translate }}" hasHeader="true">
  <div>
    {{ 'CAPTION_PAUSED' | translate }}
  </div>
  <div>
    <button (click)="close()">{{ 'BUTTON_CLOSE' | translate }}</button>
  </div>
  <div>
    <button (click)="exit()">{{ 'BUTTON_EXIT' | translate }}</button>
  </div>
</app-panel>
