#pause-menu {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  button {
    margin: 10px;
    width: 200px;
    height: 50px;
    font-size: 18px;
  }
}
