@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-spinner circle,
.mat-progress-spinner circle {
  stroke: silver;
}

body {
  font-family: 'Nova Square';
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 0px;
  margin: 0px;

  &.menu {
    background: -webkit-linear-gradient(315deg, #222222, #666666, #222222);
    background: -o-linear-gradient(315deg, #222222, #666666, #222222);
    background: linear-gradient(315deg, #222222, #666666, #222222);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 400% 400%;
    -webkit-animation: background-animation 12s ease infinite;
    animation: background-animation 12s ease infinite;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &.game,
  &.summary {
    background: linear-gradient(135deg, #222222, #aaaaaa, #222222);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
  }
}

* {
  color: white;
  font-family: 'Nova Square';
}

input[type="text"],
input[type="password"] {
  background-color: transparent;
  border: 1px solid silver;
  border-radius: 2px;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

button {
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  border: 2px solid black;
  text-align: center;
  border-radius: 4px;
  transition-duration: 0.2s;
  outline: none;
  transition-timing-function: linear;

  &:hover {
    background-color: black;
    border-color: white;
    color: white;
  }
}

label {
  display: block;
}

.hidden {
  display: none !important;
}

.nav-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .nav-menu-top {
    background-color: rgba(#111111, 0.9);
    display: flex;
    flex-direction: row;
  }

  .nav-menu-content {
    flex-grow: 1;
  }

  .nav-menu-footer {
    background-color: rgba(#111111, 0.9);
  }
}

.mat-dialog-container {
  background-color: rgba(black, 0.8);
}

.challenges-container {
  padding: 20px;


  .challenge {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;

    .challenge-header {
      display: flex;
      flex-direction: row;
      background-color: rgba(black, 0.6);
      padding: 15px;

      .challenge-title {
        text-align: left;
        font-size: 22px;
        flex-grow: 1;
      }

      .challenge-buttons {
        button {
          width: 80px;
          height: 30px;
        }
      }
    }

    .challenge-content {
      background-color: rgba(black, 0.4);
      display: flex;
      flex-direction: row;

      * {
        padding: 10px;
        text-align: center;
      }

      .challenge-preview {
        width: 400px;
        flex-grow: 1;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}


@-webkit-keyframes background-animation {
  0% {
    background-position: 0% 4%
  }

  50% {
    background-position: 100% 97%
  }

  100% {
    background-position: 0% 4%
  }
}

@keyframes background-animation {
  0% {
    background-position: 0% 4%
  }

  50% {
    background-position: 100% 97%
  }

  100% {
    background-position: 0% 4%
  }
}
