<app-panel id="register-panel" title="{{ 'CAPTION_REGISTER' | translate }}" hasHeader="true"
  (keyup)="$event.keyCode == 13 ? register(username.value, email.value, password.value, confirmPassword.value) : null">

  <div class="hidden-error-container">
    <div [hidden]="errorMessage === null" id="error">{{ this.errorMessage | translate }}</div>
  </div>

  <label>{{ 'CAPTION_USERNAME' | translate }}:</label>
  <input type="text" id="username" #username>

  <label>{{ 'CAPTION_EMAIL' | translate }}:</label>
  <input type="text" id="email" #email>

  <label>{{ 'CAPTION_PASSWORD' | translate }}:</label>
  <input type="password" id="password" #password>

  <label>{{ 'CAPTION_CONFIRM_PASSWORD' | translate }}:</label>
  <input type="password" id="password" #confirmPassword>

  <button id="register-button" (click)="register(username.value, email.value, password.value, confirmPassword.value)">{{ 'CAPTION_REGISTER' |
    translate }}</button>

  <div id="login-message">
    {{ 'MESSAGE_LOGIN1' | translate }} <a routerLink="">{{ 'MESSAGE_LOGIN2' | translate }}</a>
  </div>
</app-panel>