#register-panel {
  width: 400px;
  margin: auto;

  .hidden-error-container {
    min-height: 20px;
  }

  #error {
    color: red;
  }

  label {
    font-size: 24px;
  }

  input {
    margin-top: 5px;
    margin-bottom: 30px;
    width: 200px;
    height: 20px;
  }

  #register-button {
    display: block;
    width: 150px;
    height: 40px;
    margin: auto;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  #login-message {
    margin-top: 10px;

    a {
      color: lightblue;
      text-decoration: none;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: lightblue;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
}