<h2 mat-dialog-title>{{ 'CAPTION_ERROR' | translate }}</h2>
<mat-dialog-content>{{ this.message | translate }}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'CAPTION_OK' | translate }}</button>
</mat-dialog-actions>
