#game-menu {
  width: 900px;

  div[left] {
    border: 1px solid gray;
    border-width: 0px 1px 0px 0px;
    background-color: rgba(#111111, 0.9);
    width: 300px;
    height: 600px;
    text-align: left;
    user-select: none;

    #gametype-container {
      margin: 0;
      font-size: 24px;
      height: 50%;
      border-bottom: 1px solid gray;

      app-select-item {
        .item-spacing {
          padding: 10px;

          span {
            margin-left: 10px;
          }

          .item-icon {
            width: auto;
            height: 24px;
          }
        }
      }
    }

    #game-options {
      height: 50%;

      #game-options-header {
        padding: 10px;
        text-align: center;
        font-size: 18px;
      }

      #game-options-content {
        button {
          text-align: left;
          margin: 10px auto;
          display: block;
          width: 200px;
          height: 40px;
        }
      }
    }
  }

  div[right] {
    height: 600px;
    flex-grow: 1;
    background-color: rgba(#222222, 0.9);
  }
}
