<app-split-pane id="game-menu">
  <div left>
    <div id="gametype-container">
      <app-select-item name="gametype" routerLink="/challenges">
        <div class="item-spacing">
          <img src="/assets/star_full.png" width="40" class="item-icon" />
          <span>{{ 'BUTTON_CHALLENGES' | translate }}</span>
        </div>
      </app-select-item>
      <app-select-item selected="true" name="gametype" routerLink="/">
        <div class="item-spacing">
          <img src="/assets/freeplay.png" width="40" class="item-icon" />
          <span>{{ 'BUTTON_FREEPLAY' | translate }}</span>
        </div>
      </app-select-item>
    </div>
    <div id="game-options">
      <div id="game-options-header">
        {{ 'CAPTION_GAME_OPTIONS' | translate }}
      </div>
      <div id="game-options-content">
        <button (click)="this.openDialog(1)">{{ 'CAPTION_KEYBOARD_SKIN' | translate }}:
          {{ this.selectedKeyboardSkin.value | translate }}</button>
        <button (click)="this.openDialog(2)">{{ 'CAPTION_KEYBOARD_LAYOUT' | translate }}:
          {{ this.selectedLayout.value | translate }}</button>
      </div>
    </div>
  </div>
  <div right>
    <router-outlet></router-outlet>
  </div>
</app-split-pane>
